.table-view {
    -fx-background-color: #f2f2f2;
}

.table-view .column-header {
    -fx-background-color: #4d94ff;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-view .column-header-background {
    -fx-background-color: #4d94ff;
}

.table-view .table-row-cell {
    -fx-background-color: white;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #f2f2f2;
}

.table-view .table-column {
    -fx-alignment: CENTER;
}

.table-view .table-column:first {
    -fx-alignment: CENTER-LEFT;
}

.table-view .table-column:last {
    -fx-alignment: CENTER-RIGHT;
}

.table-view .table-cell {
    -fx-padding: 5px;
}

.table-view .table-cell:selected {
    -fx-background-color: #4d94ff;
    -fx-text-fill: white;
}

.table-view .table-column.colCategorie {
    -fx-pref-width: 161px;
}

.table-view .table-column.colNomm {
    -fx-pref-width: 161px;
}

.table-view .table-column.colDescription {
    -fx-pref-width: 139px;
}

.table-view .table-column.colLocalisation {
    -fx-pref-width: 150px;
}

.table-view .table-column.colEtat {
    -fx-pref-width: 161px;
}

.table-view .table-column.colNbPersonnes {
    -fx-pref-width: 139px;
}

.table-view .table-column.colPrix {
    -fx-pref-width: 150px;
}