.classPanel {
    -fx-background-color: rgba(241, 209, 156, 0.83); /* Couleur de fond */
    -fx-border-color: #cccccc; /* Couleur de la bordure */
    -fx-border-width: 1px; /* Épaisseur de la bordure */
    -fx-border-radius: 5px; /* Rayon de la bordure (coins arrondis) */
    -fx-padding: 10px; /* Espacement interne */
    -fx-background-radius: 5px; /* Rayon du fond (coins arrondis) */

    /* Style de la bordure */
    -fx-border-style: solid; /* Type de la bordure (solide) */
}