.button1{
    -fx-background-color:#F8C07F;
    -fx-background-radius:8px;
    -fx-background-radius:100px;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}
.nav-btn-1{
    -fx-background-color: transparent;
    -fx-border-color: #FF7F00;
    -fx-border-radius:100px;
    -fx-text-fill: #fff;
    -fx-font-family: Arial;
    -fx-cursor: hand;
    -fx-font-size: 13px;
    -fx-alignment: CENTER_LEFT;
}
.bg-color-1{
    -fx-background-color: linear-gradient(to bottom right, #188ba7, #306090);
}
.button:hover{
    -fx-background-color:#F34C31;
}
.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
    -fx-background-color:#ffff;
}

/* Style pour les en-têtes de colonnes */
.table-column .label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: #2b2b2b;
}

/* Style pour les cellules de la table */
.table-row-cell {
    -fx-font-size: 14px;
    -fx-padding: 5px;
    -fx-border-color: #d3d3d3;
}

/* Style pour les cellules de la table au survol */
.table-row-cell:hover {
    -fx-background-color: #f0f0f0;
}
